apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgres
  namespace: task-tracker-prom
spec:
  replicas: 2
  selector:
    matchLabels:
      app: postgres
  template:
    metadata:
      labels:
        app: postgres
    spec:
      containers:
        - name: postgres
          image: postgres:17.5
          env:
            - name: POSTGRES_DB
              value: "task_tracker"
            - name: POSTGRES_USER
              value: "your_username"
            - name: POSTGRES_PASSWORD
              value: "your_password"
            - name: PGDATA
              value: /var/lib/postgresql/data/pgdata
            - name: POSTGRES_HOST_AUTH_METHOD
              value: "trust"
            - name: POSTGRES_INITDB_ARGS
              value: "--auth-host=trust --auth-local=trust"
          ports:
            - containerPort: 5432
          volumeMounts:
            - name: postgres-storage
              mountPath: /var/lib/postgresql/data
          resources:
            requests:
              memory: "512Mi"
              cpu: "500m"
            limits:
              memory: "1024Mi"
              cpu: "1000m"
      volumes:
        - name: postgres-storage
          persistentVolumeClaim:
            claimName: postgres-pvc